@font-face { font-family: 'Dosis-Medium'; src: url("../fonts/Dosis-Medium.eot"); src: local("☺"), url("../fonts/Dosis-Medium.woff") format("woff"), url("../fonts/Dosis-Medium.ttf") format("truetype"), url("../fonts/Dosis-Medium.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Dosis-SemiBold'; src: url("../fonts/Dosis-SemiBold.eot"); src: local("☺"), url("../fonts/Dosis-SemiBold.woff") format("woff"), url("../fonts/Dosis-SemiBold.ttf") format("truetype"), url("../fonts/Dosis-SemiBold.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Dosis-Bold'; src: url("fonts/Dosis-Bold.eot"); src: local("☺"), url("../fonts/Dosis-Bold.woff") format("woff"), url("../fonts/Dosis-Bold.ttf") format("truetype"), url("../fonts/Dosis-Bold.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'open_sansregular'; src: url("../fonts/opensans-regular-webfont.eot"); src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Yanone Kaffeesatz'; src: url("fonts/YanoneKaffeesatz-Regular.eot"); src: local("☺"), url("../fonts/YanoneKaffeesatz-Regular.woff") format("woff"), url("../fonts/YanoneKaffeesatz-Regular.ttf") format("truetype"), url("../fonts/YanoneKaffeesatz-Regular.svg") format("svg"); font-weight: normal; font-style: normal; }

.sponsors { *zoom: 1; }
.sponsors:before, .sponsors:after { content: " "; display: table; }
.sponsors:after { clear: both; }

@font-face { font-family: 'Yanone Kaffeesatz'; font-style: normal; font-weight: 200; src: local("Yanone Kaffeesatz ExtraLight"), local("YanoneKaffeesatz-ExtraLight"), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/We_iSDqttE3etzfdfhuPRYa6iXjgqaxY3DU3RqApPOI.woff) format("woff"); }

@font-face { font-family: 'Yanone Kaffeesatz'; font-style: normal; font-weight: 400; src: local("Yanone Kaffeesatz Regular"), local("YanoneKaffeesatz-Regular"), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff) format("woff"); }

* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

a img, fieldset { border: none; }

a { color: #00919e; }

ul { list-style-type: none; }

@font-face { font-family: 'Dosis-Medium'; src: url("../fonts/Dosis-Medium.eot"); src: local("☺"), url("../fonts/Dosis-Medium.woff") format("woff"), url("../fonts/Dosis-Medium.ttf") format("truetype"), url("../fonts/Dosis-Medium.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Dosis-SemiBold'; src: url("../fonts/Dosis-SemiBold.eot"); src: local("☺"), url("../fonts/Dosis-SemiBold.woff") format("woff"), url("../fonts/Dosis-SemiBold.ttf") format("truetype"), url("../fonts/Dosis-SemiBold.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Dosis-Bold'; src: url("fonts/Dosis-Bold.eot"); src: local("☺"), url("../fonts/Dosis-Bold.woff") format("woff"), url("../fonts/Dosis-Bold.ttf") format("truetype"), url("../fonts/Dosis-Bold.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'open_sansregular'; src: url("../fonts/opensans-regular-webfont.eot"); src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Yanone Kaffeesatz'; src: url("fonts/YanoneKaffeesatz-Regular.eot"); src: local("☺"), url("../fonts/YanoneKaffeesatz-Regular.woff") format("woff"), url("../fonts/YanoneKaffeesatz-Regular.ttf") format("truetype"), url("../fonts/YanoneKaffeesatz-Regular.svg") format("svg"); font-weight: normal; font-style: normal; }

.sponsors { *zoom: 1; }
.sponsors:before, .sponsors:after { content: " "; display: table; }
.sponsors:after { clear: both; }

@font-face { font-family: 'Yanone Kaffeesatz'; font-style: normal; font-weight: 200; src: local("Yanone Kaffeesatz ExtraLight"), local("YanoneKaffeesatz-ExtraLight"), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/We_iSDqttE3etzfdfhuPRYa6iXjgqaxY3DU3RqApPOI.woff) format("woff"); }

@font-face { font-family: 'Yanone Kaffeesatz'; font-style: normal; font-weight: 400; src: local("Yanone Kaffeesatz Regular"), local("YanoneKaffeesatz-Regular"), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff) format("woff"); }

/* default layout */
.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

@font-face { font-family: 'Dosis-Medium'; src: url("../fonts/Dosis-Medium.eot"); src: local("☺"), url("../fonts/Dosis-Medium.woff") format("woff"), url("../fonts/Dosis-Medium.ttf") format("truetype"), url("../fonts/Dosis-Medium.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Dosis-SemiBold'; src: url("../fonts/Dosis-SemiBold.eot"); src: local("☺"), url("../fonts/Dosis-SemiBold.woff") format("woff"), url("../fonts/Dosis-SemiBold.ttf") format("truetype"), url("../fonts/Dosis-SemiBold.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Dosis-Bold'; src: url("fonts/Dosis-Bold.eot"); src: local("☺"), url("../fonts/Dosis-Bold.woff") format("woff"), url("../fonts/Dosis-Bold.ttf") format("truetype"), url("../fonts/Dosis-Bold.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'open_sansregular'; src: url("../fonts/opensans-regular-webfont.eot"); src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Yanone Kaffeesatz'; src: url("fonts/YanoneKaffeesatz-Regular.eot"); src: local("☺"), url("../fonts/YanoneKaffeesatz-Regular.woff") format("woff"), url("../fonts/YanoneKaffeesatz-Regular.ttf") format("truetype"), url("../fonts/YanoneKaffeesatz-Regular.svg") format("svg"); font-weight: normal; font-style: normal; }

.sponsors { *zoom: 1; }
.sponsors:before, .sponsors:after { content: " "; display: table; }
.sponsors:after { clear: both; }

@font-face { font-family: 'Yanone Kaffeesatz'; font-style: normal; font-weight: 200; src: local("Yanone Kaffeesatz ExtraLight"), local("YanoneKaffeesatz-ExtraLight"), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/We_iSDqttE3etzfdfhuPRYa6iXjgqaxY3DU3RqApPOI.woff) format("woff"); }

@font-face { font-family: 'Yanone Kaffeesatz'; font-style: normal; font-weight: 400; src: local("Yanone Kaffeesatz Regular"), local("YanoneKaffeesatz-Regular"), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff) format("woff"); }

body { font-weight: normal; font-style: normal; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 14px; }

.divide-line { width: 100%; height: 1px; margin-bottom: 21px; border: none; background: #ddd; }

.header { position: relative; overflow: hidden; max-width: 1008px; height: 50px; margin: 2px auto 0px; padding-left: 2px; }
.header .header__logo { float: left; background: url('../img/icons-sf70f6e4933.png') 0 0 no-repeat; width: 142px; height: 45px; }
.header .header__btns { margin-top: -1px; float: right; }
.header .header__btns li { padding: 5px 25px 5px; display: inline-block; border: solid 1px #CCC; border-bottom: none; border-top-left-radius: 15px; border-top-right-radius: 15px; margin: 17px 2px 0 -1px; }
@media only screen and (max-width: 480px) { .header .header__btns li { padding: 5px 15px 5px; } }
.header .header__btns a { text-decoration: none; font-size: 18px; font-weight: 300; }
.header .header__btns a:hover { text-decoration: underline; }

.l-menu { width: 100%; border-top: solid 1px #cccccc; border-bottom: solid 1px #cccccc; background: #f7f7f7; display: inline-block; text-align: center; }
.l-menu .menu { display: inline-block; text-align: center; }
.l-menu .menu ul { padding: 3px 0px; list-style-type: none; line-height: 33px; }
.l-menu .menu li { display: inline-block; padding: 0 23px; border-right: 1px solid #d9d9d9; }
@media only screen and (max-width: 320px) { .l-menu .menu li { display: block; border-right: none; } }
.l-menu .menu li:last-child { border-right: none; }
.l-menu .menu li:hover { margin-top: -4px; border-top: 4px solid #0090d3; }
.l-menu .menu .menu__item { display: block; color: #000; text-decoration: none; font-size: 22px; font-weight: 300; }
.l-menu .menu .menu__item:hover { color: #0090d3; }
.l-menu .menu .menu__item_bold { font-weight: 400; }
.l-menu .menu .menu__item_act { border-bottom: 1px solid #0090d3; }

.l-content { overflow: hidden; max-width: 1008px; margin: 0 auto; }
@media only screen and (max-width: 768px) { .l-content { max-width: 768px; } }

.phone-type { overflow: hidden; margin: 18px 31px 0px 78px; }
@media only screen and (max-width: 768px) { .phone-type { margin: 18px 10px 0px 5px; } }
@media only screen and (max-width: 568px) { .phone-type { text-align: center; } }

.phone-type_location { margin: 18px 31px 0px 5px; }
@media only screen and (max-width: 768px) { .phone-type_location { margin: 18px 5px 0px; } }
@media only screen and (max-width: 568px) { .phone-type_location { text-align: center; } }

.phone-type__img { float: left; width: 49%; }
@media only screen and (max-width: 568px) { .phone-type__img { float: none; margin: auto; } }

.phone-type__img_sms { float: left; width: 49%; margin-top: 56px; }
@media only screen and (max-width: 568px) { .phone-type__img_sms { float: none; margin: auto; } }

.phone-type__text { position: relative; float: right; width: 46%; }
@media only screen and (max-width: 768px) { .phone-type__text { width: 46%; } }
@media only screen and (max-width: 568px) { .phone-type__text { float: none; width: 90%; margin: auto; } }
.phone-type__text h1 { font-weight: normal; font-style: normal; font-family: 'Dosis-Medium', sans-serif; font-size: 35px; color: #081e4b; }
@media only screen and (max-width: 568px) { .phone-type__text h1 { font-size: 30px; } }
.phone-type__text p { margin: 25px 0 15px; font-weight: normal; font-style: normal; font-family: 'open_sansregular', sans-serif; text-align: justify; font-size: 17px; text-transform: uppercase; line-height: 30px; }
@media only screen and (max-width: 568px) { .phone-type__text p { font-size: 14px; } }
.phone-type__text ul { list-style-type: none; font-weight: normal; font-style: normal; font-family: 'open_sansregular', sans-serif; font-size: 13px; text-transform: uppercase; }
.phone-type__text ul li { position: relative; padding: 10px 0 0 26px; text-align: left; }
.phone-type__text ul li:before { content: ""; position: absolute; left: 0px; background: url('../img/icons-sf70f6e4933.png') 0 -234px no-repeat; width: 15px; height: 14px; }
.phone-type__text h3 { text-align: center; margin: 28px 0 16px; font-weight: normal; font-style: normal; font-family: 'Dosis-SemiBold', sans-serif; font-size: 22px; color: #f98e0d; }
.phone-type__text .phone-type__undo { position: absolute; left: -29px; bottom: 29px; }
@media only screen and (max-width: 768px) { .phone-type__text .phone-type__undo { left: -50px; bottom: 40px; } }
@media only screen and (max-width: 568px) { .phone-type__text .phone-type__undo { font-size: 14px; left: 14px; } }
@media only screen and (max-width: 480px) { .phone-type__text .phone-type__undo { left: -24px; bottom: 29px; } }
@media only screen and (max-width: 320px) { .phone-type__text .phone-type__undo { left: -15px; } }

.btn-big { display: block; width: 90%; height: 55px; margin: 0px auto; padding-top: 20px; text-align: center; background: url(../img/btn-big.png) no-repeat; font-weight: normal; font-style: normal; font-family: 'Dosis-Bold', sans-serif; font-size: 32px; text-transform: uppercase; text-decoration: none; color: #2d1000; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
@media only screen and (max-width: 568px) { .btn-big { width: 76%; } }
@media only screen and (max-width: 320px) { .btn-big { width: 83%; font-size: 27px; } }
.btn-big:hover { background: url(../img/btn-big-hover.png) no-repeat; }

.description { margin: 92px 31px 10px 21px; }
@media only screen and (max-width: 320px) { .description { margin: 30px 31px 10px 21px; } }
.description .description__text { overflow: hidden; margin-top: 32px; font-weight: normal; font-style: normal; font-family: 'open_sansregular', sans-serif; font-size: 17px; color: #666; }
.description .description__text .description__comment { float: right; width: 381px; height: 93px; margin: 0px 95px 0px 44px; background-color: #e6f1f9; }
.description .description__text .description__comment2 { float: left; width: 381px; height: 93px; margin: 72px 95px 22px 44px; background-color: #e6f1f9; }
@media only screen and (max-width: 320px) { .description .description__text p { text-align: justify; } }
.description .description__text p:last-child { margin-top: 48px; border-top: 2px solid #e4f0fa; border-bottom: 5px solid #e4f0fa; }

h1 { text-align: center; font-weight: normal; font-style: normal; font-family: 'Dosis-SemiBold', sans-serif; font-size: 30px; color: #666; text-transform: capitalize; }

.stars { width: 68%; height: 19px; margin: 5px auto 0; background: url(../img/under_title-stars.png) 0 0 no-repeat; background-size: 100%; }

.wide-banner-place { height: 135px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4YmFlOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAxOTBkMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #58bae8), color-stop(100%, #0190d3)); background-image: -webkit-linear-gradient(top, #58bae8, #0190d3); background-image: -moz-linear-gradient(top, #58bae8, #0190d3); background-image: -o-linear-gradient(top, #58bae8, #0190d3); background-image: linear-gradient(top, #58bae8, #0190d3); }
.wide-banner-place .wide-banner1, .wide-banner-place .wide-banner2, .wide-banner-place .wide-banner3, .wide-banner-place .wide-banner4, .wide-banner-place .wide-banner5, .wide-banner-place .wide-banner6, .wide-banner-place .wide-banner7, .wide-banner-place .wide-banner8, .wide-banner-place .wide-banner9, .wide-banner-place .wide-banner10 { height: 135px; margin: 0 auto; width: 983px; background: url(../img/banner.png) no-repeat; background-size: 100%; }
.wide-banner-place .wide-banner2 { background: url(../img/banner2.png) no-repeat; }
.wide-banner-place .wide-banner3 { background: url(../img/banner3.png) no-repeat; }
.wide-banner-place .wide-banner4 { background: url(../img/banner4.png) no-repeat; }
.wide-banner-place .wide-banner5 { background: url(../img/banner5.png) no-repeat; }
.wide-banner-place .wide-banner6 { background: url(../img/banner6.png) no-repeat; }
.wide-banner-place .wide-banner7 { background: url(../img/banner7.png) no-repeat; }
.wide-banner-place .wide-banner8 { background: url(../img/banner8.png) no-repeat; }
.wide-banner-place .wide-banner9 { background: url(../img/banner9.png) no-repeat; }
.wide-banner-place .wide-banner10 { background: url(../img/banner10.png) no-repeat; }
.wide-banner-place .wide-banner-button { position: relative; top: 40px; left: 681px; display: block; width: 293px; height: 58px; background: url(../img/btn-banner.png); }
.wide-banner-place .wide-banner-button:hover { background: url(../img/btn-banner-act.png); }

.options { margin: 20px 31px 0px 13px; }
@media only screen and (max-width: 480px) { .options { margin: 20px 13px 0px; } }
.options .options__text { margin-top: 10px; font-weight: normal; font-style: normal; font-family: 'open_sansregular', sans-serif; text-align: justify; font-size: 14px; color: #666; }
.options .options__col { width: 46%; float: left; margin-top: 34px; margin-left: 28px; }
@media only screen and (max-width: 568px) { .options .options__col { width: 100%; float: none; margin-left: 0px; text-align: center; } }
.options .options__col img { clear: both; margin-bottom: 30px; }
@media only screen and (max-width: 768px) { .options .options__col img { width: 100%; } }
@media only screen and (max-width: 568px) { .options .options__col img { width: 50%; } }
@media only screen and (max-width: 480px) { .options .options__col img { width: 80%; } }
.options .options__col .options__item { clear: both; margin-bottom: 30px; }
.options .options__col h3 { display: block; margin: 0px 0 23px; font-weight: normal; font-style: normal; font-family: 'Dosis-Medium', sans-serif; font-size: 33px; text-transform: capitalize; color: #000; }
.options .options__col p { font-weight: normal; font-style: normal; font-family: 'open_sansregular', sans-serif; font-size: 17px; }
@media only screen and (max-width: 480px) { .options .options__col p { text-align: left; } }

.option__col_right img { float: right; }
@media only screen and (max-width: 568px) { .option__col_right img { float: none; } }

.steps { margin: 0 38px 0px 31px; overflow: hidden; }
.steps .steps__col { float: left; margin-top: 37px; margin-left: -1px; width: 33%; box-sizing: border-box; border: 1px solid #e2e2e2; text-align: center; }
@media only screen and (max-width: 568px) { .steps .steps__col { float: none; margin-left: 0px; margin-top: 5px; width: 100%; } }
.steps .steps__col .steps__head { height: 35px; border-bottom: 1px solid #e2e2e2; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0)); background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0); background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0); background-image: -o-linear-gradient(top, #ffffff, #f0f0f0); background-image: linear-gradient(top, #ffffff, #f0f0f0); }
.steps .steps__col .steps__head span { position: relative; display: block; padding-left: 32px; line-height: 36px; font-weight: normal; font-style: normal; font-family: 'open_sansregular', sans-serif; font-size: 17px; font-weight: bold; color: #37b6e8; }
@media only screen and (max-width: 568px) { .steps .steps__col .steps__head span { text-align: left; } }
.steps .steps__col .steps__head span:before { content: ""; position: absolute; left: 5px; top: 6px; background: url('../img/icons-sf70f6e4933.png') 0 -166px no-repeat; width: 23px; height: 25px; }
.steps .steps__col .steps__img { margin: 25px 0px 22px 79px; }
@media only screen and (max-width: 568px) { .steps .steps__col .steps__img { margin: 20px 0px 22px; } }
.steps .steps__col .steps__text { margin: 0px 15px; }
.steps .steps__col .steps__text p { font-weight: normal; font-style: normal; font-family: 'open_sansregular', sans-serif; font-size: 12px; text-align: justify; }
.steps .steps__col h4 { text-align: left; font-weight: normal; font-style: normal; font-family: 'Dosis-Bold', sans-serif; font-size: 24px; font-weight: bold; text-transform: capitalize; color: #3f8312; }
.steps .steps__col_first { margin-left: 0px; }

.sponsors { position: relative; margin: 8px 48px 0px 31px; padding: 9px 16px; border: 1px solid #ddd; font: 16px 'open_sansregular', sans-serif; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #f6f6f6)); background-image: -webkit-linear-gradient(top, #eeeeee, #f6f6f6); background-image: -moz-linear-gradient(top, #eeeeee, #f6f6f6); background-image: -o-linear-gradient(top, #eeeeee, #f6f6f6); background-image: linear-gradient(top, #eeeeee, #f6f6f6); }
@media only screen and (max-width: 568px) { .sponsors { margin: 8px 38px 0px 31px; } }
.sponsors:after { content: ""; position: absolute; right: 0px; bottom: 0px; background: url('../img/icons-sf70f6e4933.png') 0 -201px no-repeat; width: 28px; height: 23px; }
.sponsors p { float: left; padding-top: 5px; }
@media only screen and (max-width: 568px) { .sponsors p { float: none; padding: 5px 0; text-align: center; } }
.sponsors ul { overflow: hidden; }
.sponsors ul li { float: left; padding: 0 6px; }
@media only screen and (max-width: 568px) { .sponsors ul li { padding: 0 7px; } }
.sponsors ul a, .sponsors ul img { vertical-align: middle; }

@font-face { font-family: 'Dosis-Medium'; src: url("../fonts/Dosis-Medium.eot"); src: local("☺"), url("../fonts/Dosis-Medium.woff") format("woff"), url("../fonts/Dosis-Medium.ttf") format("truetype"), url("../fonts/Dosis-Medium.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Dosis-SemiBold'; src: url("../fonts/Dosis-SemiBold.eot"); src: local("☺"), url("../fonts/Dosis-SemiBold.woff") format("woff"), url("../fonts/Dosis-SemiBold.ttf") format("truetype"), url("../fonts/Dosis-SemiBold.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Dosis-Bold'; src: url("fonts/Dosis-Bold.eot"); src: local("☺"), url("../fonts/Dosis-Bold.woff") format("woff"), url("../fonts/Dosis-Bold.ttf") format("truetype"), url("../fonts/Dosis-Bold.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'open_sansregular'; src: url("../fonts/opensans-regular-webfont.eot"); src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Yanone Kaffeesatz'; src: url("fonts/YanoneKaffeesatz-Regular.eot"); src: local("☺"), url("../fonts/YanoneKaffeesatz-Regular.woff") format("woff"), url("../fonts/YanoneKaffeesatz-Regular.ttf") format("truetype"), url("../fonts/YanoneKaffeesatz-Regular.svg") format("svg"); font-weight: normal; font-style: normal; }

.sponsors { *zoom: 1; }
.sponsors:before, .sponsors:after { content: " "; display: table; }
.sponsors:after { clear: both; }

@font-face { font-family: 'Yanone Kaffeesatz'; font-style: normal; font-weight: 200; src: local("Yanone Kaffeesatz ExtraLight"), local("YanoneKaffeesatz-ExtraLight"), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/We_iSDqttE3etzfdfhuPRYa6iXjgqaxY3DU3RqApPOI.woff) format("woff"); }

@font-face { font-family: 'Yanone Kaffeesatz'; font-style: normal; font-weight: 400; src: local("Yanone Kaffeesatz Regular"), local("YanoneKaffeesatz-Regular"), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff) format("woff"); }

.l-buy-now { margin: 0 auto; }
.l-buy-now h1 { margin: 31px 0 27px; color: #000; font-weight: normal; font-style: normal; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 48px; }
.l-buy-now h1 span { color: #0090d3; }
@media only screen and (max-width: 568px) { .l-buy-now h1 { margin: 10px 0; } }
.l-buy-now h2 { text-align: center; margin-bottom: 35px; font-weight: normal; font-style: normal; font-family: 'Dosis-Bold', sans-serif; font-size: 32px; color: #fff; }
@media only screen and (max-width: 768px) { .l-buy-now h2 { margin-bottom: 10px; } }
@media only screen and (max-width: 480px) { .l-buy-now h2 { font-size: 28px; } }
@media only screen and (max-width: 320px) { .l-buy-now h2 { font-size: 23px; } }

.l-get-it { padding: 0 5px; height: 200px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4YmFlOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAxOTBkMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #58bae8), color-stop(100%, #0190d3)); background-image: -webkit-linear-gradient(top, #58bae8, #0190d3); background-image: -moz-linear-gradient(top, #58bae8, #0190d3); background-image: -o-linear-gradient(top, #58bae8, #0190d3); background-image: linear-gradient(top, #58bae8, #0190d3); }
.l-get-it .get-it { position: relative; max-width: 956px; margin: 0 auto; }
.l-get-it .get-it .get-it__img { position: absolute; top: 55px; }
@media only screen and (max-width: 768px) { .l-get-it .get-it .get-it__img { top: 100px; } }
@media only screen and (max-width: 568px) { .l-get-it .get-it .get-it__img { display: none; } }
.l-get-it .get-it .get-it__arrow { float: right; width: 158px; height: 101px; margin: 0 110px 0 0; background: url('../img/icons-sf70f6e4933.png') 0 -55px no-repeat; width: 158px; height: 101px; }
@media only screen and (max-width: 768px) { .l-get-it .get-it .get-it__arrow { display: none; } }
.l-get-it .get-it .btn-arrow { float: right; width: 297px; height: 87px; background: url(../img/btn-arrow.png) 0 0 no-repeat; }
.l-get-it .get-it .btn-arrow:hover { background: url(../img/btn-arrow-hover.png) 0 0 no-repeat; }
@media only screen and (max-width: 768px) { .l-get-it .get-it .btn-arrow { margin-right: 5%; } }
@media only screen and (max-width: 568px) { .l-get-it .get-it .btn-arrow { margin-right: 25%; } }
@media only screen and (max-width: 480px) { .l-get-it .get-it .btn-arrow { margin-right: 20%; } }
@media only screen and (max-width: 320px) { .l-get-it .get-it .btn-arrow { margin-right: 2%; } }

.buy-now__container { max-width: 956px; margin: 0 auto; }
@media only screen and (max-width: 768px) { .buy-now__container { padding: 0 5px; } }

.buy-now___offer { float: right; text-align: right; margin: 26px 0 40px; font-size: 18px; }
@media only screen and (max-width: 768px) { .buy-now___offer { margin: 26px 0 65px; } }
@media only screen and (max-width: 568px) { .buy-now___offer { margin: 26px 0; } }

.price-list { clear: both; overflow: hidden; }

.price-list__item { position: relative; float: left; width: 24%; text-align: center; margin-left: 1%; }
@media only screen and (max-width: 480px) { .price-list__item { width: 49%; } }
.price-list__item:first-child { margin: 59px 0 0 0; }
.price-list__item:first-child ul { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.price-list__item:first-child li { text-align: left; padding: 0 14px; color: #000; }
.price-list__item:first-child li:first-child { height: 60px; font-weight: normal; font-style: normal; font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: bold; }
.price-list__item ul { overflow: hidden; position: relative; margin-bottom: 29px; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; -ms-border-radius: 0 0 4px 4px; -o-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; border: 1px solid #ccc; -webkit-box-shadow: 0px 29px 72px -28px; -moz-box-shadow: 0px 29px 72px -28px; box-shadow: 0px 29px 72px -28px; }
.price-list__item li { border-bottom: 1px solid #ccc; background: #f7f7f7; line-height: 40px; text-align: center; font-size: 18px; color: #989898; }
.price-list__item li:nth-child(2n) { background: #fcfcfc; }
.price-list__item li:last-child { border-bottom: none; }
.price-list__item li:first-child { height: 60px; line-height: 60px; }
@media only screen and (max-width: 768px) { .price-list__item li { font-size: 15px; } }
@media only screen and (max-width: 568px) { .price-list__item li { font-size: 12px; } }
@media only screen and (max-width: 480px) { .price-list__item li { font-size: 18px; } }
@media only screen and (max-width: 320px) { .price-list__item li { font-size: 12px; } }
@media only screen and (max-width: 568px) { .price-list__item li.price-list_big { line-height: 80px; } }
@media only screen and (max-width: 480px) { .price-list__item li.price-list_big { line-height: 40px; } }
.price-list__item .price-list__free { font: 30px "Myriad Pro", sans-serif; color: #0090d3; }
.price-list__item .price-list__pro { font: 48px "Myriad Pro", sans-serif; color: #fff; }
.price-list__item .price-list__pro-plus { font: 48px "Myriad Pro", sans-serif; color: #fb9502; }
.price-list__item .price-list__dollar { font-size: 24px; }
.price-list__item .price-list__month { font-size: 14px; }
.price-list__item .price-list__penny { display: block; position: absolute; top: -15px; right: 78px; font-size: 24px; }
@media only screen and (max-width: 768px) { .price-list__item .price-list__penny { right: 50px; } }
@media only screen and (max-width: 568px) { .price-list__item .price-list__penny { right: 30px; } }
.price-list__item ul.price-list__head { margin-bottom: -1px; border: none; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -ms-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
.price-list__item ul.price-list__head li { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhY2EwMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkOWEwZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faca03), color-stop(100%, #fd9a0d)); background-image: -webkit-linear-gradient(top, #faca03, #fd9a0d); background-image: -moz-linear-gradient(top, #faca03, #fd9a0d); background-image: -o-linear-gradient(top, #faca03, #fd9a0d); background-image: linear-gradient(top, #faca03, #fd9a0d); text-align: center; line-height: 60px; font-weight: normal; font-style: normal; font-family: 'Dosis-Bold', sans-serif; font-size: 21px; color: #fff; }
.price-list__item .price-list_blue { border: none; }
.price-list__item .price-list_blue li { color: #fff; border-bottom: 1px solid #47aede; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjM2ZhZWUyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGE5M2Q0Ii8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #3faee2), color-stop(100%, #0a93d4)); background-image: -webkit-radial-gradient(#3faee2, #0a93d4); background-image: -moz-radial-gradient(#3faee2, #0a93d4); background-image: -o-radial-gradient(#3faee2, #0a93d4); background-image: radial-gradient(#3faee2, #0a93d4); }
.price-list__item .price-list_blue li:first-child { height: 61px; }
.price-list__item .price-list_blue li:nth-child(2n) { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNTJiNmU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjU5ZmQ5Ii8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #52b6e5), color-stop(100%, #259fd9)); background-image: -webkit-radial-gradient(#52b6e5, #259fd9); background-image: -moz-radial-gradient(#52b6e5, #259fd9); background-image: -o-radial-gradient(#52b6e5, #259fd9); background-image: radial-gradient(#52b6e5, #259fd9); }
.price-list__item .price-list__text { margin: 18px 0 36px; font-size: 18px; }
@media only screen and (max-width: 568px) { .price-list__item .price-list__text { margin: 0px 0 20px; } }
@media only screen and (max-width: 320px) { .price-list__item .price-list__text { font-size: 14px; } }

@media only screen and (max-width: 480px) { .price-list__item_adaptive { clear: left; } }

.btn_free { display: block; height: 50px; margin-left: 10%; background: url(../img/btn-free.png) 0 0 no-repeat; }
@media only screen and (max-width: 768px) { .btn_free { margin-left: 0px; } }
@media only screen and (max-width: 568px) { .btn_free { height: 36px; background: url(../img/btn-free_iphone.png) 0 0 no-repeat; } }
@media only screen and (max-width: 480px) { .btn_free { height: 50px; margin-left: 10%; background: url(../img/btn-free.png) 0 0 no-repeat; } }
@media only screen and (max-width: 320px) { .btn_free { height: 36px; margin-left: 7%; background: url(../img/btn-free_iphone.png) 0 0 no-repeat; } }

.as-seen-on { overflow: hidden; max-width: 956px; margin: 0 auto; }
.as-seen-on h3 { font-size: 24px; }
.as-seen-on a { float: left; }
@media only screen and (max-width: 320px) { .as-seen-on a { width: 50%; } }
@media only screen and (max-width: 768px) { .as-seen-on { padding: 0 5px; } }

.details { max-width: 956px; margin: 0 auto; overflow: hidden; }
@media only screen and (max-width: 768px) { .details { padding: 0 5px; } }
.details .details__col { float: left; width: 50%; }
@media only screen and (max-width: 568px) { .details .details__col { float: none; width: 100%; } }
.details .details__col:last-child { float: right; }
@media only screen and (max-width: 568px) { .details .details__col:last-child { float: none; width: 100%; } }
.details .details__col:last-child ul { margin-left: 63px; }
@media only screen and (max-width: 768px) { .details .details__col:last-child ul { margin-left: 15px; } }
@media only screen and (max-width: 568px) { .details .details__col:last-child ul { margin-left: 0px; } }
.details .details__col:last-child article { width: 63%; }
@media only screen and (max-width: 768px) { .details .details__col:last-child article { width: 60%; } }
@media only screen and (max-width: 568px) { .details .details__col:last-child article { width: 70%; } }
@media only screen and (max-width: 480px) { .details .details__col:last-child article { width: 68%; } }
@media only screen and (max-width: 320px) { .details .details__col:last-child article { width: 100%; } }
.details .details__col li { overflow: hidden; margin-bottom: 48px; }
@media only screen and (max-width: 568px) { .details .details__col li { margin-bottom: 20px; } }
.details .details__col li img { float: left; margin: 6px 18px 18px 0; }
@media only screen and (max-width: 768px) { .details .details__col li img { margin: 6px 10px 10px 0; } }
.details .details__col article { float: right; width: 68%; }
@media only screen and (max-width: 768px) { .details .details__col article { width: 62%; } }
@media only screen and (max-width: 568px) { .details .details__col article { width: 70%; } }
@media only screen and (max-width: 320px) { .details .details__col article { float: none; width: 100%; } }
.details .details__col h3 { font: 24px "Myriad Pro", sans-serif; }
.details .details__col p { margin-top: 18px; font-size: 18px; text-align: justify; color: #8a8a8a; }
