@import "lib/base";
// Normally mainpage styles
body{
	@include YanoneKaffeesatz;
	font-size: 14px;
}
.divide-line{
	width: 100%;
	height: 1px;
	margin-bottom: 21px;
	border: none;
	background: #ddd;
}
// HEADER styles

.header{
	position: relative;
	overflow: hidden;
	max-width: 1008px;
	height: 50px;
	margin: 2px auto 0px;
	padding-left: 2px;
	.header__logo{
		float: left;
		@include sized-sprite($icons, logo);
	}
	.header__btns{
		margin-top: -1px;
		float: right;
		li{
			padding: 5px 25px 5px;
			display: inline-block;
			border: solid 1px #CCC;
			border-bottom: none;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			margin: 17px 2px 0 -1px;
			@include respond-to(iPhone-w){
				padding: 5px 15px 5px;
			}
		}
		a{
			text-decoration: none;
			font-size: 18px;
			font-weight: 300;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.l-menu{
	width: 100%;
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	background: #f7f7f7;
	display: inline-block;
		text-align: center;
	.menu{
		display: inline-block;
		text-align: center;
		ul{
			padding: 3px 0px;
			list-style-type: none;
			line-height: 33px;
		}
		li{
			display: inline-block;
			padding: 0 23px;
			border-right: 1px solid #d9d9d9;
			@include respond-to(iPhone){
				display: block;
				border-right: none;
			}
			&:last-child{
				border-right: none;
			}
			&:hover{
				margin-top: -4px;
				border-top: 4px solid #0090d3;
			}
		}
		.menu__item{
			display: block;
			color: #000;
			text-decoration: none;
			font-size: 22px;
			font-weight: 300;
			&:hover{
				color: #0090d3;
			}
		}
		.menu__item_bold{
			font-weight: 400;
		}
		.menu__item_act{
			border-bottom: 1px solid #0090d3;
		}
	}
}
// END HEADER styles

// content

.l-content{
	overflow: hidden;
	max-width: 1008px;
	margin: 0 auto;
	@include respond-to(iPad){
		max-width: 768px;
	}
}
.phone-type{
	overflow: hidden;
	margin: 18px 31px 0px 78px;
	@include respond-to(iPad){
		margin: 18px 10px 0px 5px;
	}
	@include respond-to(iPhone-5){
		text-align: center;
	}
}
.phone-type_location{
	margin: 18px 31px 0px 5px;
	@include respond-to(iPad){
		margin: 18px 5px 0px;
	}
	@include respond-to(iPhone-5){
		text-align: center;
	}
}
.phone-type__img{
	float: left;
	width: 49%;
	@include respond-to(iPhone-5){
		float: none;
		margin: auto;
	}
}
.phone-type__img_sms{
	float: left;
	width: 49%;
	margin-top: 56px;
	@include respond-to(iPhone-5){
		float: none;
		margin: auto;
	}
}
.phone-type__text{
	position: relative;
	float: right;
	width: 46%;
	@include respond-to(iPad){
		width: 46%;
	}
	@include respond-to(iPhone-5){
		float: none;
		width: 90%;
		margin: auto;
	}
	h1{
		@include Dosis-Medium;
		font-size: 35px;
		color: #081e4b;
		@include respond-to(iPhone-5){
			font-size: 30px;
		}
	}
	p{
		margin: 25px 0 15px;
		@include open_sansregular;
		text-align: justify;
		font-size: 17px;
		text-transform: uppercase;
		line-height: 30px;
		@include respond-to(iPhone-5){
			font-size: 14px;
		}
	}
	ul{
		list-style-type: none;
		@include open_sansregular;
		font-size: 13px;
		text-transform: uppercase;
		li{
			position: relative;
			padding: 10px 0 0 26px;
			text-align: left;
			&:before{
				content: "";
				position: absolute;
				left: 0px;
				@include sized-sprite($icons, tick);
			}	
		}		
	}
	h3{
		text-align: center;
		margin: 28px 0 16px;
		@include Dosis-SemiBold;
		font-size: 22px;
		color: #f98e0d;
	}
	.phone-type__undo{
		position: absolute;
		left: -29px;
		bottom: 29px;
		@include respond-to(iPad){
			left: -50px;
			bottom: 40px;
		}
		@include respond-to(iPhone-5){
			font-size: 14px;
			left: 14px;
		}
		@include respond-to(iPhone-w){
			left: -24px;
			bottom: 29px;
		}
		@include respond-to(iPhone){
			left: -15px;
		}
	}
}
.btn-big{
	display: block;
	width: 90%;
	height: 55px;
	margin: 0px auto;
	text-align:center;
	@include sized-sprite($buttons, btn-free_big);
	// background: url(../img/btn-big.png) no-repeat;
	@include Dosis-Bold;
	font-size: 32px;
	text-transform: uppercase;
	text-decoration: none;
	color: #2d1000;
	@include border-radius(3px);
	@include respond-to(iPhone-5){
			width: 76%;
		}
	@include respond-to(iPhone){
		width: 83%;
		font-size: 27px;
	}
	&:hover{
		@include sized-sprite($buttons, btn-free_big-hover);
		// background: url(../img/btn-big-hover.png) no-repeat;
	}
}
.description{
	margin: 92px 31px 10px 21px;
	@include respond-to(iPhone){
		margin: 30px 31px 10px 21px;	
	}
	.description__text{
		overflow: hidden;
		margin-top: 32px;
		@include open_sansregular;
		font-size: 17px;
		color: #666;
		.description__comment{
			float: right;
			width: 381px;
			height: 93px;
			margin: 0px 95px 0px 44px;
			background-color: #e6f1f9;
		}
		.description__comment2{
			float: left;
			width: 381px;
			height: 93px;
			margin: 72px 95px 22px 44px;
			background-color: #e6f1f9;
		}
		p{
			@include respond-to(iPhone){
			text-align: justify;
		}
			&:last-child{
			margin-top: 48px;
			border-top: 2px solid #e4f0fa;
			border-bottom: 5px solid #e4f0fa;
			}
		}

	}
}
h1{
	text-align: center;
	@include Dosis-SemiBold;
	font-size: 30px;
	color: #666;
	text-transform: capitalize;
}
.stars{
	width: 68%;
	height: 19px;
	margin: 5px auto 0; 
	background: url(../img/under_title-stars.png) 0 0 no-repeat;
	background-size: 100%;
}

// banner

.wide-banner-place{
	height: 135px;
	@include background-image(linear-gradient(top, #58bae8, #0190d3));
	.wide-banner1, .wide-banner2, .wide-banner3, .wide-banner4, .wide-banner5, .wide-banner6, .wide-banner7, .wide-banner8, .wide-banner9, .wide-banner10{
		height: 135px;
		margin: 0 auto;
		width: 983px;
		background: url(../img/banner.png) no-repeat;
		background-size: 100%;
	}
	.wide-banner2{
		background: url(../img/banner2.png) no-repeat;
	}
	.wide-banner3{
		background: url(../img/banner3.png) no-repeat;
	}
	.wide-banner4{
		background: url(../img/banner4.png) no-repeat;
	}
	.wide-banner5{
		background: url(../img/banner5.png) no-repeat;
	}
	.wide-banner6{
		background: url(../img/banner6.png) no-repeat;
	}
	.wide-banner7{
		background: url(../img/banner7.png) no-repeat;
	}
	.wide-banner8{
		background: url(../img/banner8.png) no-repeat;
	}
	.wide-banner9{
		background: url(../img/banner9.png) no-repeat;
	}
	.wide-banner10{
		background: url(../img/banner10.png) no-repeat;
	}
	.wide-banner-button{
		position: relative;
		top: 40px;
		left: 681px;
		display: block;
		width: 293px;
		height: 58px;
		@include sized-sprite($buttons, btn-banner);
		// background: url(../img/btn-banner.png);
		&:hover{
			@include sized-sprite($buttons, btn-banner-act);
			// background: url(../img/btn-banner-act.png);
		}
	}
}
// end banner
.options{
	margin: 20px 31px 0px 13px;
	@include respond-to(iPhone-w){
		margin: 20px 13px 0px;
	}
	.options__text{
		margin-top: 10px;
		@include open_sansregular;
		text-align: justify;
		font-size: 14px;
		color: #666;
	}
	.options__col{
		width: 46%;
		float: left;
		margin-top: 34px;
		margin-left: 28px;
		@include respond-to(iPhone-5){
		width: 100%;
		float: none;
		margin-left: 0px;
		text-align: center;
	}
		img{
			clear: both;
			margin-bottom: 30px;
			@include respond-to(iPad){
				width: 100%;
			}
			@include respond-to(iPhone-5){
				width: 50%;
			}
			@include respond-to(iPhone-w){
				width: 80%;
			}
		}
		.options__item{
			clear: both;
			margin-bottom: 30px;
		}
		h3{
			display: block;
			margin: 0px 0 23px;
			@include Dosis-Medium;
			font-size: 33px;
			text-transform: capitalize;
			color: #000;
		}
		p{
			@include open_sansregular;
			font-size: 17px;
			@include respond-to(iPhone-w){
				text-align: left;
			}
		}
	}
}
.option__col_right img{
	float: right;
	@include respond-to(iPhone-5){
		float: none;
	}
}

.steps{
	margin: 0 38px 0px 31px;
	overflow: hidden;
	.steps__col{
		float: left;
		margin-top: 37px;
		margin-left: -1px;
		width: 33%;
		box-sizing: border-box;
		border: 1px solid #e2e2e2;
		text-align: center;
		@include respond-to(iPhone-5){
			float: none;
			margin-left: 0px;
			margin-top: 5px;
			width: 100%;
		}
		.steps__head{
			height: 35px;
			border-bottom: 1px solid #e2e2e2;
			@include background-image(linear-gradient(top, #fff, #f0f0f0));
			span{
				position: relative;
				display: block;
				padding-left: 32px;
				line-height: 36px;
				@include open_sansregular;
				font-size: 17px;
				font-weight: bold;
				color: #37b6e8;
				@include respond-to(iPhone-5){
					text-align: left;
				}
				&:before{
					content:"";
					position: absolute;
					left: 5px;
					top: 6px;
					@include sized-sprite($icons, arrow);
				}
			}
		}
		.steps__img{
			margin: 25px 0px 22px 79px;
			@include respond-to(iPhone-5){
				margin: 20px 0px 22px;
			}
		}
		.steps__text{
			margin: 0px 15px;
			p{
				@include open_sansregular;
				font-size: 12px;
				text-align: justify;
			}
		}
		h4{
			text-align: left;
			@include Dosis-Bold;
			font-size: 24px;
			font-weight: bold;
			text-transform: capitalize;
			color: #3f8312;
		}	
	}
	.steps__col_first{
		margin-left: 0px;
	}
}

// sponsors

.sponsors{
	position: relative;
	@extend %clr;
	margin: 8px 48px 0px 31px;
	padding: 9px 16px;
	border: 1px solid #ddd;
	font: 16px 'open_sansregular', sans-serif;
	@include background-image(linear-gradient(top, #eee, #f6f6f6));
	@include respond-to(iPhone-5){
			margin: 8px 38px 0px 31px;
	}
	&:after{
		content: "";
		position: absolute;
		right: 0px;
		bottom: 0px;
		@include sized-sprite($icons, mob);
	}
	p{
		float: left;
		padding-top: 5px;
		@include respond-to(iPhone-5){
			float: none;
			padding: 5px 0;
			text-align: center;
		}
	}
	ul{
		overflow: hidden;
		li{
			float: left;
			padding: 0 6px;
			@include respond-to(iPhone-5){
				padding: 0 7px;
			}
		}
		a, img{
			vertical-align: middle;
		}
	}		
}


