@import "lib/base";

// ---------------------styles for buy_now.html ------------------

.l-buy-now{
	margin: 0 auto;
	h1{
		margin: 31px 0 27px;
		color: #000;
		@include YanoneKaffeesatz;
		font-size: 48px;
		span{
			color: #0090d3;
		}
		@include respond-to(iPhone-5){
			margin: 10px 0;
		}
	}
	h2{
		text-align: center;
		margin-bottom: 35px;
		@include Dosis-Bold;
		font-size: 32px;
		color: #fff;
		@include respond-to(iPad){
			margin-bottom: 10px;
		}
		@include respond-to(iPhone-w){
			font-size: 28px;
		}
		@include respond-to(iPhone){
			font-size: 23px;
		}
	}
}
.l-get-it{
	padding: 0 5px;
	height: 200px;
	@include background-image(linear-gradient(top, #58bae8, #0190d3));
	.get-it{
		position: relative;
		max-width: 956px;
		margin: 0 auto;
		.get-it__img{
			position: absolute;
			top: 55px;
			@include respond-to(iPad){
				top: 100px;
			}
			@include respond-to(iPhone-5){
				display: none;
			}
		}
		.get-it__arrow{
			float: right;
			width: 158px;
			height: 101px;
			margin: 0 110px 0 0;
			@include sized-sprite($icons, arrow-green);
			@include respond-to(iPad){
				display: none;
			}
		}
		.btn-arrow{
			float: right;
			@include sized-sprite($buttons, btn-arrow);
			&:hover{
				@include sized-sprite($buttons, btn-arrow-hover);
			}
			@include respond-to(iPad){
				margin-right: 5%;
			}
			@include respond-to(iPhone-5){
				margin-right: 25%;
			}
			@include respond-to(iPhone-w){
				margin-right: 20%;
			}
			@include respond-to(iPhone){
				margin-right: 2%;
			}
		}
	}
}
.buy-now__container{
	max-width: 956px;
	margin: 0 auto;
	@include respond-to(iPad){
		padding: 0 5px;
	}
}
.buy-now___offer{
	float: right;
	text-align: right;
	margin: 26px 0 40px;
	font-size: 18px;
	@include respond-to(iPad){
		margin: 26px 0 65px;
	}
	@include respond-to(iPhone-5){
		margin: 26px 0;
	}
}
.price-list{
	clear: both;
	overflow: hidden;
}
.price-list__item{
	position: relative;
	float: left;
	width: 24%;
	text-align: center;
	margin-left: 1%;
	@include respond-to(iPhone-w){
		width: 49%;
	}
	&:first-child{
		margin: 59px 0 0 0;
		ul{
			@include border-radius(4px);
		}
		li{
			text-align: left;
			padding: 0 14px;
			color: #000;
			&:first-child{
				height: 60px;
				@include YanoneKaffeesatz;
				font-weight: bold;
			}
		}
	}
	ul{
		overflow: hidden;
		position: relative;
		margin-bottom: 29px;
		@include border-radius(0 0 4px 4px);
		border: 1px solid #ccc;
		@include box-shadow(0px 29px 72px -28px)
	}
	li{
		border-bottom: 1px solid #ccc;
		background: #f7f7f7;
		line-height: 40px;
		text-align: center;
		font-size: 18px;
		color: #989898;
		&:nth-child(2n){
			background: #fcfcfc;
		}
		&:last-child{
			border-bottom: none;
		}
		&:first-child{
			height: 60px;
			line-height: 60px;
		}
		i.icon-none{
			display: inline-block;
			vertical-align: middle;
			@include sized-sprite($icons, none);
		}
		i.icon-yes{
			display: inline-block;
			vertical-align: middle;
			@include sized-sprite($icons, yes);
		}
		@include respond-to(iPad){
			font-size: 15px;
		}
		@include respond-to(iPhone-5){
			font-size: 12px;
		}
		@include respond-to(iPhone-w){
			font-size: 18px;
		}
		@include respond-to(iPhone){
			font-size: 12px;
		}
	}
	li.price-list_big{
		@include respond-to(iPhone-5){
			line-height: 80px;
		}
		@include respond-to(iPhone-w){
			line-height: 40px;
		}
	}
	.price-list__free{
		font: 30px "Myriad Pro", sans-serif;
		color: #0090d3;
	}
	.price-list__money{
		font: 48px "Myriad Pro", sans-serif;
		color: #fb9502;
	}
	.price-list__dollar{
		font-size: 24px; 
	}
		.price-list__month{
	font-size: 14px; 
	}
	.price-list__penny{
		display: block;
		position: absolute;
		top: -15px;
		right: 78px;
		font-size: 24px;
		@include respond-to(iPad){
			right: 50px;
		}
		@include respond-to(iPhone-5){
			right: 30px;
		}
	}
	ul.price-list__head{
		margin-bottom: -1px;
		border: none;
		@include border-radius(4px 4px 0 0);
		li{
			@include background-image(linear-gradient(top, #faca03, #fd9a0d));
			text-align: center;
			line-height: 60px;
			@include Dosis-Bold;
			font-size: 21px;
			color: #fff;
		}
	}
	.price-list_blue{
		border: none;
		li{
			color: #fff;
			border-bottom: 1px solid #47aede;
			@include background-image(radial-gradient(#3faee2, #0a93d4));
			&:first-child{
				height: 61px;
			}
			&:nth-child(2n){
				@include background-image(radial-gradient(#52b6e5, #259fd9));
			}
			i.icon-yes-white{
				display: inline-block;
				vertical-align: middle;
				@include sized-sprite($icons, yes-white);
			}
		}
	}
	.price-list__text{
		margin: 18px 0 36px;
		font-size: 18px;
		@include respond-to(iPhone-5){
			margin: 0px 0 20px;
		}
		@include respond-to(iPhone){
			font-size: 14px;
		}
	}
}
.price-list__item_adaptive{
	@include respond-to(iPhone-w){
		clear: left;
	}
}
.btn_free{
	display: block;
	// height: 50px;
	margin-left:10%;
	@include sized-sprite($buttons, btn-free);
	// background: url(../img/btn-free.png) 0 0 no-repeat;
	@include respond-to(iPad){
		margin-left: 0px;
	}
	@include respond-to(iPhone-5){
		// height: 36px;
		@include sized-sprite($buttons, btn-free_iphone);
		// background: url(../img/btn-free_iphone.png) 0 0 no-repeat;
	}
	@include respond-to(iPhone-w){
		// height: 50px;
		margin-left:10%;
		@include sized-sprite($buttons, btn-free);
		// background: url(../img/btn-free.png) 0 0 no-repeat;
	}
	@include respond-to(iPhone){
		// height: 36px;
		margin-left:7%;
		@include sized-sprite($buttons, btn-free_iphone);
		// background: url(../img/btn-free_iphone.png) 0 0 no-repeat;
	}
}
.as-seen-on{
	overflow: hidden;
	max-width: 956px;
	margin: 0 auto;
	h3{
		font-size: 24px;
	}
	a{
		float: left;
		@include respond-to(iPhone){
			width: 50%;
		}
		img{
			margin: 8px;
			@include respond-to(iPhone){
				margin: 0px;
			}
		}
	}
	@include respond-to(iPad){
		padding: 0 5px;
	}
}
.details{
	max-width: 956px;
	margin: 0 auto;
	overflow: hidden;
	@include respond-to(iPad){
		padding: 0 5px;
	}
	.details__col{
		float: left;
		width: 50%;
		@include respond-to(iPhone-5){
			float: none;
			width: 100%;
		}
		&:last-child{
			float: right;
			@include respond-to(iPhone-5){
				float: none;
				width: 100%;
			}
			ul{
				margin-left: 63px;
				@include respond-to(iPad){
					margin-left: 15px;
				}
				@include respond-to(iPhone-5){
					margin-left: 0px;
				}
			}
			article{
				width:73%;
				@include respond-to(iPhone-5){
					width: 78%;
				}
				@include respond-to(iPhone){
					width: 100%;
				}
			}
		}
		li{
			overflow: hidden;
			margin-bottom: 48px;
			@include respond-to(iPhone-5){
				margin-bottom: 20px;
			}
		}
		li img{
			float: left;
			margin: 6px 18px 18px 0;
			@include respond-to(iPad){
				margin: 6px 10px 10px 0;
			}
		}
		article{
			float: right;
			width: 68%;
			@include respond-to(iPad){
				width:62%;
			}
			@include respond-to(iPhone-5){
				width: 69%;
			}
			@include respond-to(iPhone){
				float: none;
				width: 100%;
			}
		}
		h3{
			font: 24px "Myriad Pro", sans-serif;
		}
		p{
			margin-top: 18px;
			font-size: 18px;
			text-align: justify;
			color: #8a8a8a;
		}
	}
}