@import "lib/base";

// ---------------------styles for registration user.html ------------------

.l-page{
	max-width: 956px;
	margin: 0 auto;
	h1{
		@include YanoneKaffeesatz;
		font-size: 50px;
		color: #000;
		@include respond-to(iPhone-5){
			font-size: 40px;
		}
		@include respond-to(iPhone){
			font-size: 32px;
		}
	}
	h2{
		margin-top: 20px;
		@include YanoneKaffeesatz;
		font-weight: bold;
		font-size: 32px;
		color: #000;
	}
	h3{
		text-align: center;
		@include YanoneKaffeesatz;
		font-size: 28px;
		color: #000;
		@include respond-to(iPhone-5){
			font-size: 24px;
		}
		@include respond-to(iPhone){
			font-size: 20px;
		}
	}
	h4{
		@include YanoneKaffeesatz;
		font-size: 24px;
		font-weight: bold;
		color: #000;
	}
}
.page{
	overflow: hidden;
	.page__col{
		width: 50%;
		float: left;
		text-align: center;
		p{
			font-size: 18px;
		}
		a{
			color: #004eff;
		}
		@include respond-to(iPhone-5){
			float: none;
			width: 97%;
			padding: 0 5px;
		}
	}
	.page__col_right{
		width: 48%;
		text-align: left;
		padding-left: 2%;
		@include respond-to(iPhone-5){
			float: none;
			width: 97%;
			padding: 0 5px;
		}
	}
}
.page__list{
	font-size: 24px;
	li{
		position: relative;
		padding: 10px 0 0 20px;
		@include respond-to(iPhone-5){
			padding: 10px 0 0px 20px;
		}
		&:before{
			content: "";
			position: absolute;
			top: 21px;
			left: 0;
			@include sized-sprite($icons, list);
		}
	}
}

.page__link-free{
	text-align: center;
}
.btn_free-big{
	display: block;
	// height: 75px;
	// width: 375px;
	margin: 21px auto 0;
	@include sized-sprite($buttons, btn-free_big);
	// background: url(../img/btn-free_big.png) 0 0 no-repeat;
	@include respond-to(iPhone){
		@include sized-sprite($buttons, btn-free);
		// width: 177px;
		// height: 50px;
		// background: url(../img/btn-free.png) 0 0 no-repeat;
	}
	&:hover{
		@include sized-sprite($buttons, btn-free_big-hover);
		// background: url(../img/btn-free_big-hover.png) 0 0 no-repeat;
		@include respond-to(iPhone){
			@include sized-sprite($buttons, btn-free-hover);
			// width: 177px;
			// height: 50px;
			// background: url(../img/btn-free-hover.png) 0 0 no-repeat;
		}
	}
}
.btn_free-big_left{
	margin: 21px 0 0!important;
}
.costumers{
	overflow: hidden;
	@include respond-to(iPad){
		padding: 0 5px;
	}
	.costumers__number{
		margin: 81px 0 27px;
		text-align: center;
		font-size: 16px;
		@include respond-to(iPhone-5){
			margin: 40px 0 27px;
		}
	}
	.costumers__col{
		width: 48%;
		float: left;
		@include respond-to(iPhone){
			width: 100%;
			float: none;
		}
		.costumers__item img{
			float: left;
			margin: 0 5px 5px 0;
		}
		p{
			font-size: 18px;
			text-align: justify;
		}
	}
	.costumers__col_right{
		float: right;
	}
}
